* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
 width: 100%;
 height: 100%;  
}

/* -------------------Hero page css start --------------- */
#main{
    color: #000000;
}


.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: bisque;
}

/* ----navbar start ---- */
#main .hero nav{
    background-color: bisque;
    color: #501515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    position:fixed;
    z-index: 9999;
    
}
#main .hero nav h2{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
    opacity: .9;
    letter-spacing: 2px;
}
#main .hero nav a{
    text-decoration: none;
    color: #501515;
    padding-right: 40px;
}
/* ----text section start --- */
.herocontent{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 112px;
    height: 78%;
    width: 80%;
    align-items: center;
    margin-left: 10%;
   
 
}
.herocontent .heroleft{
    position: relative;
    width: 50%;
    height: 100%;
}
.herocontent .heroleft .p_abs{
    position: absolute;
    left: 25%;
}
.herocontent .heroright{
    width: 50%;
    height: 100%;
    background-image: url(./public/3.jpg);
    background-size: cover;
}

.heroleft .tx{
    margin-top: 64px;
}

.heroleft .tx {
      font-size: 95px;
    letter-spacing: 3px;
    opacity: .8;
}
.heroleft .tx .tx2{
   padding-left: 112px;
}
.heroleft .tx .tx3{
    padding-left: 224px;
 }

.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translatey(100%); 
   
}

/* ----text section end --- */

/* ------------------- Hero page css end --------------- */


/*  ------------------- moveimage start  ---------------  */
/* Carousel Styles */

.aboutusbellow_banner {

    position: relative;
    text-align: right;

}

.aboutusbellow_banner img {
    width: 100%;
    max-width: 78%;

}

/*  --------------------- moveimage end --------------- --- */


/* section 2 start */

.homesec2 {
    width: 100%;
    height: 100vh;
    padding-top: 64px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.homesec2 .about_us {
    display: flex;
    width: 100%;

}

.homesec2 .about_data {
    width: 50%;
    flex: 0 0 auto;
    padding-top: 16px;

}

.homesec2 .about_data h5 {
    text-transform: uppercase;
    opacity: .6;
    font-size: 24px;
    padding-top: 16px;
}

.about_data span {
    line-height: 80px;
    font-weight: 500;
    padding-top: 16px;
    font-size: 64px;
}

.about_data p {
    font-weight: 500;
    opacity: .8;
    padding-top: 20px;
}
.aboutusbellow_banner{
    width: 50%;
    align-items: center;
    justify-content: center;
}

.aboutusbellow_banner img{
    width: 80%;
    height: 90%;
    float: right;
    padding-top: 16px;
}
.know_more .arrow_line{
    display: flex;
    color:red;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
}
.know_more .arrow_line img{
    padding-top: 8px;
    width: 24px;
}

/* Media Queries */
@media (max-width: 768px) {
    .homesec2 {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .about_data p{
       display: none;
    }
    .about_data span{
        line-height: 8px;
        font-weight: 500;
        font-size: 20px;
    }
  
    .know_more{
        display: none;
    }
    
}

/* start 4 section */
/* .home_sec4{
    width: 100%;
    max-width: 86%;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;
}
.home_sec4 h5{
    text-transform: uppercase;
    opacity: .5;
    font-size: 14px;
}
.home_sec4 .our-p{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}
.home_sec4 .our-p h2{
    font-weight: 700;
} */

.homesec4{
    width: 100%;
   height: 100vh;
    display: flex;
   margin: auto;
   padding-top: 40px;
   padding-bottom: 80px;
}

    
.homesec4 .card{

  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 5px;
position: absolute;
}
.sec_4_card{
    width: 50%;
    position: relative;
}

.icon{
    font-size: 2rem;
    color: #000000;
}
.icon:hover{
    transform: scale(1.1);
    transition: 0.5 ease ease-in-out;
    cursor: pointer;
}
.card:nth-child(1){
   left: 20%;
   top: 10%;
}
.card:nth-child(2){
    left: 40%;
    top: 25%;
}
.card:nth-child(3){
    left: 25%;
    top: 40%;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 10;
    cursor: pointer;
}

.sec_4_content{
    width: 60%;
    margin-right: 5%;
    margin-top: 48px;
}

.sec_4_content p{
    font-size: 20px;
    font-weight: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 16px;
    gap: 16px;
    padding-bottom: 16px;
}
/* Media Queries */
@media (max-width: 768px) {
    .homesec4 {
        display: flex;
        width: 100%;
    }
    .sec_4_card{
        width: 100%;
    }

    homesec4 .card{
         width: 150px;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      position: absolute;
      }
      .sec_4_content {
      display: none;
      }
      .card:nth-child(1){
        left: 10%;
        top: 10%;
     }
     .card:nth-child(2){
         left: 20%;
         top: 25%;
     }
     .card:nth-child(3){
         left: 15%;
         top: 40%;
     }

  
}

/* section five start */
.homesec5 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    position: relative;
    height: 250px;
    margin: auto;
}

.slide_track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite; /* Changed animation duration to 40s */
}

/* Pause animation on hover */
.slider:hover .slide_track {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slide {
    display: flex;
    height: 300px;
    width: 250px;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 1s;
}

.slide:hover img {
    transform: translateZ(20px);
}

/* shadow */
.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 1;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotate(180deg); /* Corrected 'rotatez' to 'rotate' */
}
